@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  
}
a.active {
  @apply  bg-blue-200  text-blue-700 hover:text-blue-700 hover:bg-blue-200 
}
a.active span {
 @apply bg-blue-200  text-blue-700 dark:text-blue-700 dark:bg-blue-200
}

.payment-link.active , .payment-link.active:hover{
  @apply bg-inherit text-inherit
}


.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

input{
  touch-action: manipulation;
}